.fondo_basico {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100vh; /* Ocupa toda la pantalla */
    background-image: url('../imagenes/background_5.png');
    background-size: contain, cover; /* Ajusta la imagen para cubrir el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}

.platform_button:hover {
    padding: 24px;
    transition: padding 0.5s ease;
}

.platform_button:focus{
    font: optional;
}

.platform_button:active{
    font: optional;
}

.platform_button img {
    max-width: 100%;
    border-radius: 150px;
    display: block;
}

.platform_button {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    transform: scale(0.15);
    top: -3.7vh;
}


.whatsapp_button {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    transform: scale(0.3);
    width: 130vw;
    margin-bottom: -30vh;
    margin-left: -1.5vw;
    margin-top: 20vh;
    padding: 1% 1%;
}

/*
.searcher img {
    width: 100%;
    height: auto;
    display: block;
}

.searcher_text {
    position: absolute;
    top: 50%;
    left: 50%;
transform: translate(-50%, -50%);
}
*/

.min_balance {
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    margin-top: -42vh;
    text-shadow: 2px 3px 3px black;
}