.fondo_basico {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100vh; /* Ocupa toda la pantalla */
    background-image: url('../imagenes/background_5.png');
    background-size: cover; /* Ajusta la imagen para cubrir el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}

.orden p {
    color: rgb(255, 230, 0);
}

.orden {
    display: block;
    margin-top: 17%;
}

.platform_button {
    width: 100%;
    position: absolute;
    text-align: center;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    transform: scale(0.12);
    top: -17%;
    left: -41%;
}

.platform_button a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.platform_button img {
    border-radius: 150px;
}

.platform_button img:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.whatsapp_button a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp_button img {
    width: 40%;
    height: auto;
}

.whatsapp_button img:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.min_balance p {
    text-transform: capitalize;
    text-shadow: 2px 3px 3px rgb(0, 0, 0);
    margin-top: 2%;
}


/*
.searcher img {
    width: 100%;
    height: auto;
    display: block;
}

.searcher_text {
    position: absolute;
    top: 50%;
    left: 50%;
transform: translate(-50%, -50%);
}
*/

