@media (max-width: 1024px) {
    
}

@media (max-width: 768px) {
    .fondo_basico {
        background-image: url('../imagenes/background_5cel.png');
        background-size: cover;
        background-position: top;
        background-clip: content-box;
        overflow: hidden;
    }
    
    .platform_button {
        width: 100%;
        position: absolute;
        display: flex;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        outline: none;
        cursor: pointer;
        transform: scale(0.1);
        left: -16%;
        top: -17%;
    }

    h1 {
        margin-top: 31%;
    }

    .whatsapp_button {
        margin-top: 5%;
        transform: scale(1.25);
    }

    .min_balance p {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .fondo_basico {
        background-image: url('../imagenes/background_4cel.png?v=1.0');
        background-size: contain;
        background-position: top; 
        background-repeat: round;
        background-clip: content-box;
        overflow: hidden;
    }

    .platform_button {
        width: 100%;
        position: absolute;
        display: flex;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        outline: none;
        cursor: pointer;
        transform: scale(0.08);
        left: -16%;
        top: -17%;
    }

    h1 {
        font-size: 24px;
        margin-top: 35%;
    }
    p {
        font-size: 15px;
        margin: auto 5%;
        margin-top: 8%;
        margin-bottom: 3%;
    }

    .min_balance p {
        font-size: 13px;
    }
}


@media (max-width: 375px) {
    .fondo_basico {
        background-image: url('../imagenes/background_4cel.png?v=1.0');
        background-size: contain;
        background-position: top; 
        background-repeat: round;
        background-clip: content-box;
        overflow: hidden;
    }
    .platform_button {
        width: 100%;
        position: absolute;
        display: flex;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        outline: none;
        cursor: pointer;
        transform: scale(0.08);
        left: -18.3%;
        top: -17%;
    }

    h1 {
        font-size: 23px;
        margin: auto 5%;
        margin-top: 40%;
    }

    p {
        font-size: 15px;
        margin: auto 12%;
        margin-top: 13%;
        margin-bottom: 3%;
    }

    .whatsapp_button {
        margin-bottom: -2%;
    }

    .min_balance p {
        font-size: 13px;
    }
}


@media (max-width: 320px) {
    .fondo_basico {
        background-image: url('../imagenes/background_4cel.png?v=1.0');
        background-size: contain;
        background-position: top; 
        background-repeat: round;
        background-clip: content-box;
        overflow: hidden;
    }

    .platform_button {
        width: 100%;
        position: absolute;
        display: flex;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        outline: none;
        cursor: pointer;
        transform: scale(0.08);
        left: -22%;
        top: -17%;
    }

    h1 {
        margin: auto 5%;
        margin-top: 45%;
        font-size: 20px;
    }

    p {
        font-size: 14px;
        margin: auto 10%;
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .whatsapp_button {
        margin-bottom: -8%;
    }

    .min_balance p {
        font-size: 12px;
        margin-top: 7%;
    }
}

/*    *Estilo para pantallas grandes (PCs, monitores)*

@media (min-width: 1024px) {
    body {
    font-size: 18px;
    padding: 20px;
    }
}

    *Estilo para tablets*
@media (min-width: 768px) and (max-width: 1023px) {
    body {
    font-size: 16px;
    padding: 15px;
    }
}

    *Estilo para celulares*
@media (max-width: 767px) {
    body {
    font-size: 14px;
    padding: 10px;
    }
}

@media (max-width: 600px) {
    .platform_button {
        left: 5px;  *Alinea más cerca del borde en móviles *
        top: 20px;  *Ajusta la posición vertical *
        transform: scale(0.15);  *Botón ligeramente más grande en móvil *
    }
}
*/

@media (min-width: 600px) {
    .container {
        width: 80%; /* Reduce el ancho */
        margin: 0 auto; /* Centra el contenedor */
    }

    button {
        width: 50%; /* Botón más pequeño */
        font-size: 18px;
    }
}

/* Estilos para pantallas grandes (PC) */
@media (min-width: 1200px) {
    .container {
        width: 60%; /* Aún más estrecho en pantallas grandes */
    }

    button {
        width: 30%;
        font-size: 20px;
    }
}

.container {
    display: flex;
    flex-direction: column; /* Alinea elementos en columna en móviles */
    align-items: center;
}

/* Cambia a una fila en pantallas grandes */
@media (min-width: 600px) {
    .container {
        flex-direction: row; /* Alinea en fila */
        justify-content: space-around;
    }
}